{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block body %}

    <div class="container">
        <hi>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</hi>
    </div>
    {{ "now"|date("m/d/Y") }}
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed ultrices ante, ac euismod ante. Nulla faucibus elit mauris, ac volutpat velit elementum non. Sed varius risus quis porta malesuada. Donec tempor sem nec neque finibus semper. Nulla faucibus ornare mollis. Nunc semper orci sed lorem elementum ultrices. Suspendisse ultricies nunc sit amet ex rhoncus, vestibulum hendrerit augue commodo. Donec sit amet tincidunt tortor. Aenean et sodales velit. Vestibulum maximus orci id sagittis rutrum. Pellentesque et maximus risus, a tincidunt orci.
        Nullam venenatis odio eu sapien porttitor scelerisque. Vivamus sollicitudin accumsan mauris sed luctus. Vestibulum dapibus lectus nulla, viverra sodales purus placerat sit amet. Etiam vitae mi dui. Duis placerat sit amet lectus mattis interdum. Praesent ac lectus lobortis leo mollis accumsan. Sed iaculis finibus tortor congue venenatis. Duis ornare fringilla ex. Nam nec nulla nec tellus hendrerit finibus. Ut nisi purus, facilisis id varius ac, molestie ut ligula. Duis vestibulum dui consequat, aliquet dolor vel, vehicula lorem. Donec ultricies ipsum ac justo imperdiet suscipit. In hendrerit mauris sit amet justo tempus tristique. </p>

{% endblock %}
